.form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.form-container{
  width: 80%;
  border: 2px solid #b2b2b2;
  border-radius: 3px;
}

#count-container {
  width: 20%;
  margin: 10px auto;
  border: 2px solid #b2b2b2;
  border-radius: 3px;
  text-align: center;
}

.add-btn {
  border: 2px solid #b2b2b2;
  border-radius: 3px;
}

.todo-container, .done-container {
  width: 80%;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: rgba(214, 208, 208, 0.501);
  border-radius: 3px;
}

/* .todo-list-groupe, .done-list-groupe {
  width: 80%;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: rgba(214, 208, 208, 0.501);
  border-radius: 3px;
} */

.list-title {
  text-align: center;
}

#done-btn, #del-btn {
  cursor: pointer;
  color: rgb(241, 55, 55);
}

.strikethrough {
  text-decoration-line: line-through;
}
